html {
font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high */
font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
background-color:#1B2936;
}

body {
margin: auto;
max-width: 85%;
min-height: 100vh;
display: flex;
flex-direction: column;
background-color: #223344;
color: #92ADC9;
border-radius: 8px; /*rounds edges*/
}

main{
padding: 9rem; /*keeps elements from going under heading*/
text-align: center;
display: inline-block;
flex: auto;/*if there's a need for resizability on elements*/
}

img.slogo{
width:100px;
height: auto;
border-radius: 8px;
display: inline;
float: left;
margin-top: 0.5rem;
margin-left: 0.5rem;
padding: 0;
}

h2.pageheading{
text-align: center;
}

div.dropdown{
position: relative;
display: inline-block;
}

nav.intPLinks ul {
padding: 0;
/*no need to use display:flex as I'm controlling button spacing with margin-direction:[number]em*/
list-style-type: none;
flex: 2;
display:block;/*using display:block keeps buttons close together, using display:flex pushes them apart*/
text-align: center;
}

nav.intPLinks li {
display: inline-block;
text-align: center;
flex: 1;
}

nav.intPLinks li a {
text-decoration: none;
}

nav.extPLinks ul {
padding: 0;
list-style-type: none;
flex: 2;
}

img.fbLogo, img.igLogo, img.xLogo, img.tiktokLogo{
height: 30px;
width:30px;
border-radius: 8px;
}

a.dropdbtn, a.pageNav1, a.pageNav2, a.pageNav3 {
background-color: #1B2936;
color: white;
padding: 10px;
font-size: 16px;
border: none;
border-radius: 12px;
cursor: pointer;
text-shadow: 2px 2px 2px #000000;
margin-left: 1.5em;/*controls spacing in desired direction*/
margin-right: 1.5em;
}

div.dropdown-links{
display:none;
position: absolute;
background-color: #92ADC9;
min-width: 160px;
}

div.dropdown-links a{
padding: 12px 16px;
text-decoration: none;
display:block;
font-weight: bold;
color:#223344;
}

div.dropdown-links a:hover {
background-color: #223344;
color:#92ADC9;
}

div.dropdown:hover div.dropdown-links{
display: block;
border-radius: 8px;
}

img.op, img.knsb{
width: 100%;/*images will go as big as possible and stay capped at the max width next line regardless of fullscreen/halfscreen*/
max-width: 200px;
height: auto;
border-radius: 8px;
box-shadow: 2px 4px #92ADC9;
float: left;
cursor: pointer;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 1rem;
margin-bottom: 1rem;
}

img.opm, img.kthr{
width: 100%;/*images will go as big as possible and stay capped at the max width next line regardless of fullscreen/halfscreen*/
max-width: 200px;
height: auto;
border-radius: 8px;
box-shadow: 2px 4px #92ADC9;
float: right;
cursor: pointer;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 1rem;
margin-bottom: 1rem;
}

section article img:hover{
box-shadow: 2px 4px white;
}

article{
border-radius: 8px;
flex:auto;
margin: auto;
}

h1.sr{
max-width: 500px;
width:100%;
background-color: #1B2936;
}

section article h4{/*refers to heading in relevant path*/
text-align:center;
max-width: 500px;
width:100%;
height: auto;
background-color: #1B2936;
}

section article button{
background-color: #1B2936;
color: white;
cursor: pointer;
border-radius: 10px;
}

section article p.infol{
text-align:start;
}

section article p.infor{
text-align:end;
}

div.secbr{/*to create space where intended*/
margin-bottom: 1rem;
}

p.summary{
text-align:justify;
max-width: 500px;
width:100%;
}

#expand1, #expand2, #expand3, #expand4{
display: none;
}

section{
display: flex;
flex-direction:row; /*aligns elements inside section (articles in this case) as rows as default*/
flex-wrap: wrap; /*allows articles to maintain its form as the windows size changes*/
margin-bottom: 1em;
margin-right: 1em;
border-radius: 8px;
margin: auto;/*to center section*/
text-align: center;
/* flex:[number]px isn't needed due to article element having it.*/
}

div.infoHide1, div.infoHide2, div.infoHide3, div.infoHide4{/*elements inside specified container is automatically hidden*/
display: none;
}

header{
top: 0;
position: fixed; /*If I change to sticky, will need to alter width to 100%. Absolute is fine on its own.*/
width: 85%;
padding-bottom: 14px;
/*border: /*solid 1px white; in case I want to add a border colour around the header*/ 
}

footer{
bottom: 0;
text-align: center;
width: 100%; /*will need to change to 100% if position is removed*/
margin-top: -6rem;/*used to bring footer up to save scroll space*/
}

header, footer{
border-radius: 8px;
background-color: #1B2936;
}