html {
font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high */
font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
background-color: blueviolet;
background-color:rgb(0, 0, 0);
background-image: url("../images/bg1.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

body {
border: 1px solid black;/*may need to remove, makes noticeable space near dropdown icon if there's no header border colour*/
margin: auto;
max-width: 85%;
min-height: 100vh;
display: flex;
flex-direction: column;
background-color: black;
border-radius: 8px; /*rounds edges*/
color: white;
}

main{
padding: 9rem; /*keeps elements from going under heading*/
text-align: center;
display: inline-block;
}

h1.pageheading{
text-align: center;
padding-bottom: 20px;
}


a.a1, a.a2, a.a3, a.a4, a.a5, a.a6, a.a7, a.a8{
margin-bottom: 0.5em; /*allows you to create space between articles in the specified direction of margin*/
margin-right: 0.5em;
}

div.dropdown{
position: relative;
display: inline-block;
}


nav.intPLinks ul {
padding: 0;
/*no need to use display:flex as I'm controlling button spacing with margin-direction:[number]em*/
list-style-type: none;
flex: 2;
display:block;/*using display:block keeps buttons close together, using display:flex pushes them apart*/
text-align: center;
}

nav.intPLinks li {
display: inline-block;
text-align: center;
flex: 1;
}

nav.intPLinks li a {
text-decoration: none;
color: white;
}

a{
text-decoration: none;
color: white;
}

nav.extPLinks ul {
padding: 0;
list-style-type: none;
flex: 2;
}

img.fbLogo, img.igLogo, img.xLogo, img.tiktokLogo{
height: 30px;
width:30px;
}

a.dropdbtn, a.pageNav1, a.pageNav2, a.pageNav3 {
background-color: #74837c;
color: white;
padding: 10px;
font-size: 16px;
border: none;
border-radius: 12px;
cursor: pointer;
text-shadow: 2px 2px 2px #000000;
margin-left: 1.5em;/*controls spacing in desired direction*/
margin-right: 1.5em;
}

div.dropdown-links{
display:none;
position: absolute;
background-color: #1822a5;
 min-width: 160px;
}

div.dropdown-links a{
color: rgb(150, 19, 19);
padding: 12px 16px;
text-decoration: none;
display:block;
}

div.dropdown-links a:hover {
background-color: #22e182;
}

div.dropdown:hover div.dropdown-links{
display: block;
border-radius: 8px;
}

div.dropdown:hover a.dropdbtn{
background-color: rgb(150, 52, 52);
}

img.ascl, img.crote, img.vls, img.tyr{
width: 100%;/*images will remain the same size as long as I use a percentage that can be equally divided by the same number of images I have*/
height: auto;
border-radius: 8px;
}

article{
margin-bottom: 1em;
margin-right: 1em;
border-radius: 8px;
flex: 200px; /*this is its default size, will shrink along with window to fit space available*/
}

section{
display: flex;
flex-direction:row; /*aligns elements inside section (articles in this case) as rows as default*/
flex-wrap: wrap; /*allows articles to maintain its form as the windows size changes*/
margin-bottom: 1em;
margin-right: 1em;
border-radius: 8px;
margin: auto;/*to center section*/
/* flex:[number]px isn't needed due to article element having it.*/
}

header{
top: 0;
position: fixed; /*If I change to sticky, will need to alter width to 100%. Absolute is fine on its own.*/
width: 85%;
background-color: black;
padding-bottom: 14px;
/*border: /*solid 1px white; in case I want to add a border colour around the header*/ 
}

footer{
bottom: 0;
text-align: center;
position: relative; /*can remove this or change to static if I want footer to remain at bottom and unseen unless I scroll, will need to adjust width to 100% if so*/
width: 100%; /*will need to change to 100% if position is removed or changed to static*/
background-color: red;
color: black;
}

header, footer{
border-radius: 8px;
}