html {
font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high */
font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
background-color:#1B2936;
}

body {
margin: auto;
max-width: 85%;
min-height: 100vh;
display: flex;
flex-direction: column;
background-color: #223344;
color: #92ADC9;
border-radius: 8px; /*rounds edges*/
}

main{
padding: 9rem; /*keeps elements from going under heading*/
text-align: center;
display: inline-block;
}

img.slogo{
width:100px;
height: auto;
border-radius: 8px;
display: inline;
float: left;
margin-top: 0.5rem;
margin-left: 0.5rem;
padding: 0;
}

main p, main strong{
text-align: justify;
}

strong.av, strong.mv{
background-color: #1B2936;
max-width: 420px;
width:100%;
display: inline-block;/*allows style change to apply to whole element*/
text-align: center;
}

div.secbr{/*to create space where intended*/
margin-bottom: 1rem;
}

h1.pageheading{
text-align: center;
padding-bottom: 20px;
}


article{
margin-bottom: 1em;
margin-right: 1em;
border-radius: 8px;
flex: auto; /*this is its default size, will shrink along with window to fit space available*/
}

iframe{
border-radius: 8px;
border:none
}

div.dropdown{
position: relative;
display: inline-block;
}


nav.intPLinks ul {
padding: 0;
/*no need to use display:flex as I'm controlling button spacing with margin-direction:[number]em*/
list-style-type: none;
flex: 2;
display:block;/*using display:block keeps buttons close together, using display:flex pushes them apart*/
text-align: center;
}

nav.intPLinks li {
display: inline-block;
text-align: center;
flex: 1;
}

nav.intPLinks li a {
text-decoration: none;
}

a{
text-decoration: underline;
color: inherit;/*takes the colour which the page is using*/
}

nav.extPLinks ul {
padding: 0;
list-style-type: none;
flex: 2;
}

img.fbLogo, img.igLogo, img.xLogo, img.tiktokLogo{
height: 30px;
width:30px;
border-radius: 8px;
}

a.dropdbtn, a.pageNav1, a.pageNav2, a.pageNav3 {
background-color: #1B2936;
color: white;
padding: 10px;
font-size: 16px;
border: none;
border-radius: 12px;
cursor: pointer;
text-shadow: 2px 2px 2px #000000;
margin-left: 1.5em;/*controls spacing in desired direction*/
margin-right: 1.5em;
}

div.dropdown-links{
display:none;
position: absolute;
background-color: #92ADC9;
min-width: 160px;
}

div.dropdown-links a{
padding: 12px 16px;
text-decoration: none;
display:block;
font-weight: bold;
color:#223344;
}

div.dropdown-links a:hover {
background-color: #223344;
color:#92ADC9;
}

div.dropdown:hover div.dropdown-links{
display: block;
border-radius: 8px;
}

section{
display: flex;
flex-direction:row; /*aligns elements inside section (articles in this case) as rows as default*/
flex-wrap: wrap; /*allows articles to maintain its form as the windows size changes*/
}

header{
top: 0;
position: fixed; /*If I change to sticky, will need to alter width to 100%. Absolute is fine on its own.*/
width: 85%;
padding-bottom: 14px;
/*border: /*solid 1px white; in case I want to add a border colour around the header*/
}

footer{
bottom: 0;
text-align: center;
position: fixed; /* footer will remain in view with fixed position as I scroll. Can remove this or change to static or relative if I want footer to remain at the end of page and unseen, will need to adjust width to 100% if so*/
width: 85%; /*will need to change to 100% if position is removed. Not needed if position is "relative" or "static"*/
}

header, footer{
border-radius: 8px;
background-color: #1B2936;
}