html {
font-size: 14px; /* px means "pixels": the base font size is now 10 pixels high */
font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
background-color:#1B2936;
}

body {
margin: auto;
max-width: 85%;
min-height: 100vh;
display: flex;
flex-direction: column;
background-color: #223344;
color: #92ADC9;
border-radius: 8px; /*rounds edges*/
}

main{
padding: 9rem; /*keeps elements from going under heading*/
text-align: justify;
display: inline-block;
}

img.slogo{
width:100px;
height: auto;
border-radius: 8px;
display: inline;
float: left;
margin-top: 0.5rem;
margin-left: 0.5rem;
padding: 0;
}

h2.pageheading{
text-align: center;
padding-bottom: 20px;
}

div.secbr{/*to create space where intended*/
margin-bottom: 1rem;
}

#BTTBtn{
display: none;
position: sticky;
bottom:150px;
float: right;
border: none;
cursor: pointer;
padding: 12px;
background-color: #1B2936;
color: white;
text-shadow: 2px 2px 2px #000000;
font-weight: bold;
border-radius: 8px;
}

#BTTBtn:hover{
background-color: black;
}

a.a1, a.a2, a.a3, a.a4, a.a5, a.a6, a.a7, a.a8{
margin-top: 0.5em;
margin-bottom: 0.5em; /*allows you to create space between articles in the specified direction of margin*/
margin-left: 0.5em;
margin-right: 0.5em;
}

img.adwn{
position: relative;
top: -30px;/*allows me to manipulate position in x amount of pixels from chosen direction in element along with their being an alignment set in html*/
right: 160px;
border-radius: 8px;
width: 30px;
height: 30px;
}

div.dropdown{
position: relative;
display: inline-block;
}

nav.intPLinks ul {
padding: 0;
/*no need to use display:flex as I'm controlling button spacing with margin-direction:[number]em*/
list-style-type: none;
flex: 2;
display:block;/*using display:block keeps buttons close together, using display:flex pushes them apart*/
text-align: center;
}

nav.intPLinks li {
display: inline-block;
text-align: center;
flex: 1;
}

a{
text-decoration: none;
}

nav.intplinks a{
color: white;
}

nav.extPLinks ul {
padding: 0;
list-style-type: none;
flex: 2;
}

img.fbLogo, img.igLogo, img.xLogo, img.tiktokLogo{
height: 25px;
width:25px;
border-radius: 8px;
}

a.dropdbtn, a.pageNav1, a.pageNav2, a.pageNav3 {
background-color: #1B2936;
color: white;
padding: 10px;
font-size: 16px;
border: none;
border-radius: 12px;
cursor: pointer;
text-shadow: 2px 2px 2px #000000;
margin-left: 1.5em;/*controls spacing in desired direction*/
margin-right: 1.5em;
}

div.dropdown-links{
display:none;
position: absolute;
background-color: #92ADC9;
min-width: 160px;
}

div.dropdown-links a{
padding: 12px 16px;
text-decoration: none;
display:block;
font-weight: bold;
color:#223344;
}

div.dropdown-links a:hover {
background-color: #223344;
color:#92ADC9;
}

div.dropdown:hover div.dropdown-links{
display: block;
border-radius: 8px;
}

section a{
border-radius: 8px;
flex: 200px; /*this is its default size, will shrink along with window to fit space available, it also keeps things in perfect alignment and size*/
text-shadow: 2px 2px 2px #000000;   
background-color: rgb(121, 119, 116);
padding: 40px 10px;/*used to resize background image allowing enough content to be shown.*/
box-shadow: 2px 4px #92ADC9;;
color: white;
}

section a:active{
animation: shake 0.4s ease-out; /*animation to trigger upon click*/
}

/* Keyframes to define the animation*/
@keyframes shake {
    0% {
        transform: skewX(-4deg);/*first shake measurement to the left*/
    }

    25% {
        transform: skewX(4deg);/*second shake measurement to the right*/
    }

    50% {
        transform: skewX(-4deg);/*3rd shake measurement to the left*/
    }

    75% {
        transform: skewX(4deg);/*4th shake measurement to the right*/
    }

}

section a:hover{/*calls the <a> links in section*/
box-shadow: 2px 4px white;
text-shadow: 2px 2px 2px #000000;   
}

a.a1{/*Fighting/Martial arts genre*/
background-image: url("../images/fighting-martial-arts.webp");
background-size:cover;
background-position:center; /*in case an alignment is needed*/
background-repeat: no-repeat;
}

a.a2{/*Battle/Action genre*/
background-image: url("../images/battle-action.jpg");
background-size:cover;
/*background-position:; /*in case an alignment is needed*/
background-position-y: 60%;
background-repeat: no-repeat;
}

a.a3{/*Comedy genre*/
background-image: url("../images/comedy.jpg");
background-size:cover;
background-position-y: 20%;
background-repeat: no-repeat;
}

a.a4{/*Sports genre*/
background-image: url("../images/sports.jpg");
background-size:cover;
background-position-y: 70%; /*to be specific about the part of background image I wish to show*/
background-repeat: no-repeat;
}

a.a5{/*Sci-Fi/Fantasy genre*/
background-image: url("../images/sci-fi-fantasy.jpg");
background-size:cover;
background-position-y: 70%; /*to be specific about the part of background image I wish to show*/
background-repeat: no-repeat;
}

a.a6{/*Horro/Supernatural genre*/
background-image: url("../images/horror-supernatural.jpg");
background-size:cover;
background-position-y: 25%; /*to be specific about the part of background image I wish to show*/
background-repeat: no-repeat;
display:flex;/*use of display:flex stops content (for example the age rating image logo) from changing element size of which it resides*/
}

a.a7{/*Drama genre*/
background-image: url("../images/drama.jpg");
background-size:cover;
background-position-y: 40%; /*to be specific about the part of background image I wish to show*/
background-repeat: no-repeat;
}

a.a8{/*Music genre*/
background-image: url("../images/music.jpg");
background-size:cover;
background-position-y: 40%; /*to be specific about the part of background image I wish to show*/
background-repeat: no-repeat;
}

section{
display: flex;
flex-direction:row; /*aligns elements inside section (articles in this case) as rows as default*/
flex-wrap: wrap; /*allows articles to maintain its form as the windows size changes*/
border-radius: 8px;
}

header{
top: 0;
position: absolute; /*If I change to sticky, will need to alter width to 100%. Absolute is fine on its own.*/
width: 85%;
padding-bottom: 14px;
/*border: /*solid 1px white; in case I want to add a border colour around the header*/ 
text-align: right;
}

footer{
bottom: 0;
text-align: center;
width: 100%; /*will need to change to 100% if position is removed*/
margin-top: -6rem;/*used to bring footer up to save scroll space*/
}

header, footer{
border-radius: 8px;
background-color: #1B2936;
}